{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>The Chaperone</title>

	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <link href="../../css/editor.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">The Chaperone</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Домашняя <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'brands' %}">Бренды</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'create' %}">Создать объявление</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <button type="button" class="btn btn-outline-success my-2 my-sm-0" onclick="window.location.href='{% url 'profile' %}'">Профиль</button>
          </form>
        </div>
      </nav>
    </header>
<div class="container">


      <div class="jumbotron">
        <h1 class="display-3">The Chaperone</h1>
        <p class="lead">Хотите купить машину быстро и безопасно? Вам к нам, ведь на нашем сайте уже {{ ad_count }} активных объявлений!</p>
        <p><a class="btn btn-lg btn-success" href="{% url 'home' %}" role="button">Каталог</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Хотите быстро продать свой подержанный автомобиль?</h4>
          <p>Мы - платформа которая предоставляет пользователям удобную площадку для продажи их подержанных авто</p>

          <h4>Ищете автомобиль мечты по выгодной цене?</h4>
          <p>Использование нашего сервиса абсолютно бесплатно, имеется круглосуточная поддержка</p>
        </div>

        <div class="col-lg-6">
          <h4>Желаете получить круглосуточную поддержку и помощь?</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Хотите обменять свой автомобиль на другой?</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>


        </div>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Мы - платформа, которая поможет вам решить любые вопросы, связанные с продажей или покупкой подержанных автомобилей. На нашей <br>&nbsp;&nbsp;&nbsp;площадке вы найдете широкий выбор автомобилей разных марок и моделей по выгодным ценам. Мы гарантируем быструю и безопасную сделку, &nbsp;&nbsp;&nbsp;а также круглосуточную поддержку и консультации наших специалистов. Не упустите свой шанс получить максимальную выгоду от продажи или &nbsp;&nbsp;&nbsp;покупки автомобиля с нами!
        </p>
      </div>


    </div>


      <!-- FOOTER -->
      <footer class="container">

        <p>© 2017-2018 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </footer>

    </main>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="../../js/vendor/popper.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/holderjs@2.9.4/holder.js"></script>
    <svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="25" style="font-weight:bold;font-size:25pt;font-family:Arial, Helvetica, Open Sans, sans-serif">500x500</text></svg></body>
</html>