<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ car.model_Car.name_Mark }} {{ car.model_Car.name_Mod }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'about' %}">The Chaperone</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Домашняя <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'brands' %}">Бренды</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'create' %}">Создать объявление</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <button type="button" class="btn btn-outline-success my-2 my-sm-0" onclick="window.location.href='{% url 'profile' %}'">Профиль</button>
          </form>
        </div>
      </nav>
    </header>
{% block content %}
  <div class="container marketing">
    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">

    <div class="row featurette">
  <div class="col-md-4">
    <h2 class="featurette-heading">{{ car.model_Car.name_Mark }}
    <span class="text-muted">{{ car.model_Car.name_Mod }}</span></h2>
    <p class="lead">Двигатель: {{ car.engine_Car.name_Engine }}</p>
    <p class="lead">{{ car.engine_Car.hp_Engine }} лошадиных сил</p>
    <p class="lead">Количество владельцев: {{ car.numown_Car }}</p>
    <p class="lead">Пробег: {{ car.mileage_Car }} км</p>
    <p class="lead">Состояние: {{ car.damage_Car.name_Dam }}</p>
    <p class="lead">Цвет: {{ car.color_Car.name_Color }}</p>
    <p class="lead">Государственный номер: {{ car.statenum_Car }}</p>
    {% for ad in ads %}
    <p class="lead">Комментарий: {{ ad.comm_Ad }}</p>
    <p class="lead">Дата объявления: {{ ad.date_Ad }}</p>
    <p class="lead">Цена: {{ ad.price_Ad }} рублей</p>
    {% if session %}
  <form class="form-inline mt-2 mt-md-0">
    <button type="button" class="btn btn-outline-success my-2 my-sm-0" onclick="window.open('{{ ad.contact_Ad }}', '_blank')">Связаться с продавцом</button>
  </form>
{% endif %}
    {% endfor %}

  </div>
  <div class="col-md-5">
    <img src="{{ car.photo_Car.url }}" alt="{{ car.model_Car.name_Mark }} {{ car.model_Car.name_Mod }}" class="featurette-image img-fluid mx-auto" style="max-width: 720px; max-height: 405px;">
  </div>
</div>


    <hr class="featurette-divider">
    <form class="form-inline mt-2 mt-md-0">
            <button type="button" class="btn btn-outline-success my-2 my-sm-0" onclick="window.location.href='{% url 'home' %}'">Назад</button>
          </form>
  </div><!-- /.container -->
{% endblock %}

</body>
</html>