<!DOCTYPE html>
<html>
  <head>
    <title>Вход</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  </head>
  <body>
  <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'about' %}">The Chaperone</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Домашняя <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'brands' %}">Бренды</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'create' %}">Создать объявление</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <button type="button" class="btn btn-outline-success my-2 my-sm-0" onclick="window.location.href='{% url 'profile' %}'">Профиль</button>
          </form>
        </div>
      </nav>
    </header>
    <main>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="card my-5">
          <div class="card-body">
            <h5 class="card-title text-center mb-3">Вход</h5>
            {% if message %}
              <div class="alert alert-danger">{{ message }}</div>
            {% endif %}
            {% if blocked %}
              <div class="alert alert-danger">Ваш аккаунт заблокирован</div>
            {% endif %}
            <form method="post" action="{% url 'login' %}">
              {% csrf_token %}
              <div class="form-group">
                <label for="username">Введите свой логин</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Логин">
              </div>
              <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Пароль">
              </div>
              <button type="submit" class="btn btn-primary btn-block">Войти</button>

            </form>
            <hr>
            <div class="text-center">
              <p>Нет аккаунта?</p>
              <a href="{% url 'registration' %}">Зарегистрироваться</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

    <script src="jquery-3.5.1.slim.min.js"></script>
    <script src="popper.min.js"></script>
    <script src="bootstrap.min.js"></script>
  </body>
</html>
