{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>The Chaperone</title>

	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <link href="../../css/editor.css" rel="stylesheet">
</head>
<body>
<header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">The Chaperone</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Домашняя <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'brands' %}">Бренды</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'create' %}">Создать объявление</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <button class="btn btn-outline-success my-2 my-sm-0" onclick="window.location.href='{% url 'profile' %}'">Профиль</button>
          </form>
        </div>
      </nav>
    </header>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Имя и фамилия</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{ user.name_User }} {{ user.surname_User }}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Email</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{ user.email_User }}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Телефон</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{ user.phone_User }}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Город</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{ user.city_User.name_City }}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">День рождения</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{ user.birth_User }}
            </div>
          </div>
          <hr>
          <div class="d-flex justify-content-left align-items-center">
                        <form action="{% url 'edit_user' user.id_User %}" method="get">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-info">Редактировать</button>
                        </form>
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger ml-2">Выйти</button>
                        </form>
                    </div>
                    {% if user.role_User_id == 2 %}
                    <div>
                        <form action="{% url 'ad_report_pdf' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-warning mt-3">Администрирование</button>
                        </form>
                    </div>
                    {% endif %}
            </div>
            {% if user %}
            <div class="card mt-4">
                <div class="card-body">
                    <h3>Ваши объявления</h3>
                    {% for ad in ads %}
                    <div class="card mt-2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-7">
                                    <h4 class="card-title">{{ ad.car_Ad.brand_Car.name_Brand }} {{ ad.car_Ad.model_Car }}</h4>
                                    <p class="card-text">Описание: {{ ad.comm_Ad }}</p>
                                    <p class="card-text">Дата: {{ ad.date_Ad }}</p>
                                    <p class="card-text">Местоположение: {{ ad.loc_Ad.name_Met }}</p>
                                    <p class="card-text">Цена: {{ ad.price_Ad }} рублей</p>
                                    <p class="card-text">Контакты: {{ ad.contact_Ad }}</p>
                                </div>
                                <div class="col-md-5">
                                    <img src="{{ ad.car_Ad.photo_Car.url }}" alt="{{ car.model_Car.name_Mark }} {{ car.model_Car.name_Mod }}" class="featurette-image img-fluid mx-auto" style="max-width: 720px; max-height: 405px;">
                                </div>
                            </div>
                            <form action="{% url 'edit_ad' ad.id_Ad %}" method="get">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-info">Редактировать</button>
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>

